<h3><%= l(:label_edit_meeting_protocol) %></h3>

<div class="autoscroll">
  <%= form_tag(update_meeting_protocol_path(@project, params[:meeting_id]), method: "put") do %>
    <p>
      <div id="epiceditor"></div>
      <textarea id="page-predefined" name="description[content]" style="display:none"><%= @page.content %></textarea>
      
    </p>
    <%= button_tag(l(:label_update_page)) %>
  <% end %>
</div>


<% html_title l(:title_meetings) %>



<%= render partial: 'pages/editor'%>
      