<h3><%= l(:label_new_meeting_protocol) %></h3>


<div class="autoscroll">
  <%= form_tag(create_meetings_path(@project), method: "post") do %>
  <%= label_tag "description_description", l(:label_description) %>
    <%= text_field "description", "description" %>
    <p>
      <div id="epiceditor"></div>
      <textarea id="page-predefined" name="description[content]" style="display:none"></textarea>
      
    </p>
    <%= button_tag(:create) %>
  <% end %>
</div>


<% html_title l(:title_meetings) %>



<%= render partial: 'pages/editor'%>
      