<h3><%= @page.title %></h3>

<p>
  <%= @page.html_data.html_safe %>
</p>

<% html_title l(:title_meetings) %>



<%= render partial: 'pages/editor'%>

<%= content_for :sidebar do%>
<h3><%= l(:label_page) %></h3>
<ul>
  <li><%= link_to l(:label_edit)  , edit_meeting_protocol_path(@project,params[:meeting_id]), class: 'icon icon-edit'%></li>
  <li><%= link_to l(:label_remove), delete_meeting_protocol_path(@project,params[:meeting_id]), confirm: l(:label_page_destroy), class: 'icon icon-del', method: :delete%></li>
</ul>
<%end%>