<%= render partial: 'pages/breadcrumbs', locals: {first_is_root: true,path: 'home/history'}%>

<% if @history.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>

<% else %>
<div class="autoscroll">
<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th><%= l(:label_date)%></th>
      <th style="text-align:left"><%= l(:label_msg)%></th>
      <th style="text-align:left"><%= l(:label_name)%></th>
    </tr>
  </thead>
  <tbody>
  <% @history.each_with_index do |h,index|%>
      <tr class="open">
        <td width="20"><%=index%></td>
        <td width="200">
          <%= h[:author][:time].strftime("%d.%m.%Y %H:%M") %>

        </td>
        <td style="text-align:left">
          <%= h[:subject] %>
        </td>
        <td width="130" style="text-align:left">
          <%= h[:author][:name]%>
        </td>
      <tr>
  <% end %>
  </tbody>
</table>
</div>
<% end%>
<% html_title l(:title_wiki) %>

<%= content_for :header_tags do %>
  <%= javascript_include_tag 'bootstrap.min.js', :plugin => 'gollum' %>
  <%= stylesheet_link_tag 'bootstrap-theme.min.css', :plugin => 'gollum' %>
  <%= stylesheet_link_tag 'bootstrap.min.css', :plugin => 'gollum'%>
<%end%>
<%= content_for :sidebar do%>
<h3>Wiki</h3>

<%end%>
