 <div class="modal modal-edit" tabindex="-1" role="dialog" aria-labelledby="Edit" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit page <%=page.title%></h4>
      </div>
      <form id="renameform" action="<%= url_for edit_page_path(page.url) %>" method="POST">
       <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
       <input type="hidden" name="_method" value="put" />

        <div class="modal-body">

        <p class="editor">
          <div id="epiceditor"></div>
          <textarea id="page-predefined" name="pg[content]" style="display:none"><%= page.content.force_encoding('UTF-8') %></textarea>
        </p>
        <p>
        </p>

        </div>
        <div class="modal-footer">
          <input type="text" value="Updated Page <%=page.title%>" name='pg[commit]' width="40">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" id="submit_rename" class="btn btn-primary" disabled>Rename</button>
        </div>
      </form>
    </div>
  </div>
</div>


<%= render partial: 'pages/editor', locals: { predefined: @page}%>
