<h3><%= l(:label_edit_wiki_page) %></h3>


<div class="autoscroll">
  <%= form_tag(update_page_path(@page.url), method: "put") do %>
    <div class="box tabular">
      <div id="all_attributes">
        <p class="editor">
          <%= label_tag '', for: 'epiceditor' do %>
            <%= l(:label_content) %>&nbsp;&nbsp;
          <%end%>
          <div id="epiceditor"></div>
          <textarea id="page-predefined" name="pg[content]" style="display:none"><%= @page.content.force_encoding('UTF-8') %></textarea>
        </p>
        <p>
          <%= label_tag '', for: 'commit_message' do%>
            <%= l(:label_edit_commit_message) %>
            <span class="required"> *</span>
          <% end %>
          <%= text_field_tag :commit, "Updated Page #{@page.title}", name: 'pg[commit]', size: 100%>
        </p>
      </div>
    </div>
    <%= button_tag(l(:label_update_page)) %>
    
  <% end %>
</div>

<% html_title l(:title_wiki) %>


<%= render partial: 'pages/editor', locals: { predefined: @page}%>
      
