<h3><%= l(:label_edit_wiki_page) %></h3>


<div class="autoscroll">
  <%= form_tag(update_page_path(@page.url), method: "put") do %>
    <p>
      <div id="epiceditor"></div>
      <textarea id="page-predefined" name="pg[content]" style="display:none"><%= @page.content %></textarea>
    </p>
    <p>
      <%= label_tag l(:label_edit_commit_message)%>
      <%= text_field_tag :commit, "Updated Page #{@page.title}", name: 'pg[commit]', size: 100%>
    </p>
    <%= button_tag(l(:label_update_page)) %>
    
  <% end %>
</div>

<% html_title l(:title_wiki) %>


<%= render partial: 'pages/editor', locals: { predefined: @page}%>
      
