
<ul class="breadcrumb">
  <%-x=params[:folder].split("/")%>
  <%x.each_with_index do |w,index|%>
    <%if index == x.length-1 %>
      <li class="active"><%=w.camelize%></li>
    <%else%>
      <li><%=link_to w.camelize,show_folder_path(x[0..index].join("/"))%></li>
    <%end%>
  <%end%>
</ul>
<div class="list-group" style="margin: 10px;">
  <%- @pages.each do |page| %>
    <%if page.type == :folder %>
      <%=link_to show_folder_path(page.path),class: 'list-group-item' do%>
        <i><%=image_tag 'folder.png', :plugin => 'gollum',width: 16 %></i>
        <%=page.name%>
      <%end%>
    <%else%>
      <%-f=File.basename(page.path,File.extname(page.path))%>
      <%-d=File.dirname(page.path)%>
      <%=link_to show_post_path(File.join(d,f)),class: 'list-group-item' do %>
        <i><%=image_tag 'file.png', :plugin => 'gollum',width: 16 %></i>
        <%=page.name%>
      <%end%>
    <%end%>
  <% end%>
</div>
<% html_title l(:title_wiki) %>

<%= content_for :header_tags do %>
  <%= javascript_include_tag 'bootstrap.min.js', :plugin => 'gollum' %>
  <%= stylesheet_link_tag 'bootstrap-theme.min.css', :plugin => 'gollum' %>
  <%= stylesheet_link_tag 'bootstrap.min.css', :plugin => 'gollum'%>
<%end%>
<%= content_for :sidebar do%>
<h3>Wiki</h3>
<div class="btn-group-vertical" style="width: 90%;">
  <%= link_to new_page_path(folder_s), class: 'btn btn-default' do %>
    <i class="icon icon-add"></i>
    New
  <%end%>
</div>
<%end%>
