<div>
  <%= parent_directory_link "Back"%>
</div>
<br />

<h3>All Pages in '<%= Page.wiki.page_file_dir %>'</h3>

<%- @pages.sort_by{|m| m.title.downcase }.each do |post|%>
  <div class="post-outer">
    <div class="post-inner">
      <h5>
        <%- if post.directly_in_folder?(folder)%>
          <%= link_to post.title,show_post_path(post.url) %>
        <%else%>
          <%- unless folder_posted?(post)%>
          <% @folders ||= []%>
          <% @folders << subfolder(post) %>
          <%end%>
        <% end %>
        
      </h5>
    </div>
  </div>

  
<% end %>
<% if @folders %>

  <%- @folders.sort_by{|m| m.downcase }.each do |folder|%>
  <div class="post-outer">
    <div class="post-inner">
      <h5>
        <%= link_to folder,show_folder_path(combined_folder_link(folder)), style: 'padding-left: 20px;' %>
      </h5>
    </div>
  </div>

  <% end %>
<% end%>
<% html_title l(:title_wiki) %>

<%= content_for :sidebar do%>
<h3>Wiki</h3>
<ul>
  <li><%= link_to 'New'  , new_page_path(params[:folder]), class: 'icon icon-add'%></li>
  <li><%= link_to 'Show all pages'  , show_folder_path(params[:folder]), class: 'icon icon-fav-off'%></li>
</ul>
<%end%>