<h3><%= l(:label_edit_wiki_page) %></h3>


<div class="autoscroll">
  <%= form_tag(create_page_path(folder_s), method: "post") do %>
    <p>
      <%= label_tag l(:label_edit_title)%>
      <%= text_field_tag :title, nil, name: 'pg[title]', size: 100%>
    </p>
    <p>
      <div id="epiceditor"></div>
      <textarea id="page-predefined" name="pg[content]" style="display:none"></textarea>
    </p>
    <p>
      <%= label_tag l(:label_edit_commit_message)%>
      <%= text_field_tag :commit, "Created Page", name: 'pg[commit]', size: 100%>
    </p>
    <%= button_tag(l(:label_submit_new)) %>
    
  <% end %>
</div>

<% html_title l(:title_wiki) %>



<%= render partial: 'pages/editor', locals: { predefined: false}%>
      
