<br />
<br />
<p class="wiki-page">
  <%= @page.html_data.html_safe%>
</p>
<%= content_for :sidebar do%>
<h3>Page</h3>
<ul>
  <li><%= link_to 'Edit'  , edit_page_path(@page.url), class: 'icon icon-edit'%></li>
  <li><%= link_to 'Remove', delete_page_path(@page.url), confirm: l(:label_page_destroy), class: 'icon icon-del', method: :delete%></li>
  <li><%= link_to 'Rename', rename_page_path(@page.url), class: 'icon icon-copy'%></li>
  <li><%= link_to 'New'  , new_page_path(path_for_url(@page.url)), class: 'icon icon-add'%></li>
  <li><%= link_to l(:label_show_activity)  , page_history_path(@page.url), class: 'icon icon-time'%></li>

  <% if @page.name == Setting["plugin_gollum"]["default_page"].downcase %>
  <li><%= link_to l(:label_show_global_activity)  , history_path, class: 'icon icon-time'%></li>
  
  <% end %>
</ul>
<%end%>
<% html_title l(:title_wiki) %>
