<aside class="wiki-page">
  <%= @page.render_html_with_redmine_tags %>
</aside>

<%= content_for :sidebar do%>
<h3>Page</h3>
<div class="btn-group-vertical" style="width: 90%;">
  <%= link_to edit_page_path(@page.url), class: 'btn btn-default' do %>
    <i class="icon icon-edit"></i>
    Edit
  <%end%>
  <%= link_to delete_page_path(@page.url), confirm: l(:label_page_destroy), method: :delete,class: 'btn btn-default' do %>
    <i class="icon icon-del"></i>
    Remove
  <%end%>
  <%= link_to '#', :"data-toggle" => "modal", :"data-target" => ".modal-rename",:"data-backdrop" => "false",:class => 'btn btn-default' do %>
    <i class="icon icon-copy"></i>
    Rename
  <%end%>
  <%= link_to new_page_path(path_for_url(@page.url)), class: 'btn btn-default' do %>
    <i class="icon icon-add"></i>
    New
  <%end%>
  <%= link_to '#', "data-toggle" => "modal", "data-target" => ".modal-upload", "data-backdrop" => "false",:class => 'btn btn-default' do %>
    Upload a file
  <%end%>

  <%= link_to page_history_path(@page.url),:class => 'btn btn-default' do %>
    Page History
  <%end%>
  <%= link_to history_path,:class => 'btn btn-default' do %>
    Global History
  <%end%>
</div>
<%end%>
<%= content_for :header_tags do %>
  <%= javascript_include_tag 'bootstrap.min.js', :plugin => 'gollum' %>
  <%= javascript_include_tag 'jquery.ui.widget.js', :plugin => 'gollum' %>
  <%= javascript_include_tag 'jquery.iframe-transport.js', :plugin => 'gollum' %>
  <%= javascript_include_tag 'jquery.fileupload.js', :plugin => 'gollum' %>
  <%= javascript_include_tag 'highlight.pack.js', :plugin => 'gollum' %>
  <script>hljs.initHighlightingOnLoad();</script>

  <%= stylesheet_link_tag 'bootstrap-theme.min.css', :plugin => 'gollum' %>
  <%= stylesheet_link_tag 'bootstrap.min.css', :plugin => 'gollum'%>
  <%= stylesheet_link_tag 'jquery.fileupload.css', :plugin => 'gollum'%>
  <%= stylesheet_link_tag 'solarized_dark.css', :plugin => 'gollum'%>
<%end%>
<% html_title l(:title_wiki) %>

<%content_for :footer do %>
  <div class="modal modal-upload" tabindex="-1" role="dialog" aria-labelledby="Upload" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Upload a file</h4>
        </div>
        <form id="fileform" action="<%= url_for wiki_uploads_path %>" method="POST" entype="multipart/form-data">
         <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

          <div class="modal-body">
            <input id="fileupload" type="file" name="file[]" multiple/>
            <div id="files"></div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" id="save_upload" class="btn btn-primary" disabled>Upload</button>
          </div>
        </form>
  </div>
      </div>
    </div>
 <div class="modal modal-rename" tabindex="-1" role="dialog" aria-labelledby="Rename" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Rename page <%=@page.title%></h4>
        </div>
        <form id="renameform" action="<%= url_for renamed_page_path(@page.url) %>" method="POST" entype="multipart/form-data">
         <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
         <input type="hidden" name="_method" value="put" />

          <div class="modal-body">
            <input name="pg[title]" placeholder="New name" id="renamefield"/>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" id="submit_rename" class="btn btn-primary" disabled>Rename</button>
          </div>
        </form>
  </div>
      </div>
    </div>
    <%#= render partial: 'pages/edit',locals: {page: @page} %>


  <%= javascript_tag do%>

    $(function () {
        'use strict';
        var url = '<%=url_for wiki_uploads_path %>';
        $('#renameform').submit(function(e){
          if($('#submit_rename').prop('disabled') === false){
            this.submit();
            return true;
          }else{
            e.preventDefault();
            return false;
          }
        });
        $('#renamefield').keyup(function(e){
          if($(e.currentTarget).val().length >= 1){
            $('#submit_rename').prop('disabled', false);
          }else{
            $('#submit_rename').prop('disabled', true);
          }
        });
        $('#fileupload').fileupload({
            url: url,
            dataType: 'json',
            add: function (e,data) {
              data.formData = $('#fileform').serializeArray();
              $('#save_upload').prop('disabled', false);
              $('#save_upload').off('click').on('click', function(){
                data.submit();
              })
            },
            done: function (e, data) {
                $.each(data.result.files, function (index, file) {
                $('<input type="text" class="form-control"/>').val("!["+file.name+"]("+file.url+")").appendTo('#files');
                });
            }
        }).prop('disabled', !$.support.fileInput)
            .parent().addClass($.support.fileInput ? undefined : 'disabled');
    });
  <%end%>
<%end%>
