<h1>Project description for: <%= @prj.name %></h1>
<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'gollum_editor/gollum', :plugin => 'gollum' %>
    <%= javascript_include_tag 'gollum_editor/gollum', :plugin => 'gollum' %>
    
<% end %>
<%= form_for("page", url: update_project_descriptions_path(@prj), method: "put" ) do |f| %>

<p>
  <div id="epiceditor"></div>
  <textarea id="page-predefined" name="pg[content]" style="display:none"><%=@page.raw_data%></textarea>
</p>
<%= f.button :submit%>

<%- end%>


<%= render partial: 'pages/editor'%>
      